@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{  padding: 0;
    margin: 0;
    color: #8b8b8b;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #000000;
    z-index: +1;
    position: sticky;
    top: 0;
    padding: 10px 30px;
}

.nav__ul{
    display: flex;
    padding: 20px 0 0;
}

nav ul li{
    display: flex;
    list-style: none;
}

nav ul li:nth-child(3){
    margin-left: 250px;
}

nav ul li a{
    display: block;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 80px;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.logo{
    position: absolute;
    left: 50%;
    top: 0%;
    border-radius: 50px;
    transform: translateX(-50%);
}
/*---------- Reset, Base content & Navbar end------------*/

/*-- Header, Tamaño de titulos y fuentes, separadores, contenedores y cajas --*/

.encabezado__img--fluid{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    animation-name: header_animation;
    animation-timing-function: ease-in;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

.google__maps--fluid{
    width: 100%;
}

.titulo{
    font-size: 4rem;
    color: #929292;
    margin: 25px;
}

.subtitulo{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 3rem;
    color: rgb(233, 233, 233);
}

p{
    font-size: 2.2rem;
}

.font__size{
    font-size: 2.5rem;
}

.separador{
    margin: 25px;
}

.separador1{
    margin: 12px;
}

article a{
    font-size: 2.4rem;
}

article{
    font-size: 2rem;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 20px;
}

.container1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.container2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: auto;
}

.container4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}

.container5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 20px;
}

.container6{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: auto;
}

.caja1{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.caja2{
    display: flex;
    justify-content: center;
}

.caja3{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

.caja4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.caja__details{
    width: auto;
    height: auto;
    margin-right: 8px;
    padding-top: 30px;
}

.text-center{
    text-align: center;
}

@keyframes header_animation{
    0%{background-image: url(/img/wp_studio.jpg)}
    33%{background-image: url(/img/wp_studio1.jpg)}
    66%{background-image: url(/img/wp_studio2.jpg)}
    100%{background-image: url(/img/wp_studio.jpg);}
}

header{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    animation-name: header_animation;
    animation-timing-function: ease-in;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

/*-- Header, Tamaño de titulos y fuentes, separadores, contenedores y cajas end --*/

/*-- Footer, imagenes y Logo --*/
.pie{
    width: 100%;
    padding: 20px 0;
}

.pie__icon--sm{
    width: 40px;
    padding: 3px;
}

.img__resize--large{
    width: 34vw;
    height: 80vh;
}

.img__resize{
    width: 100%;
    height: 60vh;
    object-fit: none;
    object-position: 50% 30%;
}

.img__resize1{
    width: 30vw;
    height: 60vh;
    object-fit: cover;
}

.img__resize2{
    width: 26vw;
    height: 60vh;
    object-fit: cover;
    object-position: 80% 50%;
}

.img__fit{
    width: 100%;
    height: 47vh;
    object-fit: cover;
}

.clip__img{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.logo__resize{
    width: 150px;
    height: 150px;
}

.logo__resize--footer{
    width: 300px;
    height: 300px;
}

.logo__resize--typo{
    width: 100%;
    height: 42vh;
}

.footer__resize{
    width: 100%;
    height: 32vh;
}

.img__resize--grid{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*-- Footer, imagenes y Logo end --*/

/*-- Overlay seccion artistas --*/

.container3{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000
}
  
.container3:hover .overlay{
    opacity: .8;
}
  
.nombre__banda{
    color: rgb(255, 255, 255);
    font-size: 4.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-- Overlay seccion artistas end --*/

/*-- Grids y areas --*/

.grid{
    width: 100%;
    display: grid;
}

.sector-template-areas{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47vh 47vh;
    gap: 5px 5px;
}

.sector-template-areas1{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh 30vh;
    gap: 10px 10px;
}

.template-areas{
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer";
}

nav{
    grid-area: nav;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.asignacion__columna--main{
    grid-column: 2/3;
    grid-row: 3/4;
}

/*-- Grids y areas end --*/

/*-- medias queries --*/

@media only screen and (min-width: 800px) and (max-width:1048px){
        
    nav ul li:nth-child(3){
        margin-left: 0px;
    }

    .img__resize--large{
        width: 26vw;
        height: 70vh;
        object-fit: cover;
        object-position: 20% 50%;
    }

    .img__resize1{
        width: 26vw;
        height: 60vh;
        object-fit: cover;
        object-position: 32% 50%;
    }

    .container5{
        display: block;
        width: 100%;
        height: auto;
        padding: 0 20px;
    }
    
    .container6{
        display: block;
        width: 100%;
        height: auto;
    }

    .container3:hover .overlay{
        opacity: .6;
    }

    .disabled{
        pointer-events: none;
        opacity: .6;
      }

    .img__media{
        width: 45%;
        height: 48vh;
    }

    .nombre__banda{
        font-size: 3.2rem;
    }

    .logo__resize--footer{
        width: 220px;
        height: 220px;
    }

    .logo__resize--typo{
        width: 80%;
        height: 42vh;
    }

    .footer__resize{
        height: 24vh;
    }
}

@media only screen and (max-width:799px){

    .nav__ul{
        padding: 2px;
    }

    nav ul li a{
        font-size: 1.9rem;
        padding: 5px 10px;
    }
    
    nav ul li:nth-child(3){
        margin-left: 60px;
    }

    .logo__resize{
        width: 110px;
        height: 110px;
    }

    .sector-template-areas{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 47vh);
        gap: 5px 5px;
    }
    
    .sector-template-areas1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 30vh);
        gap: 10px 10px;
    }

    .container3:hover .overlay{
        opacity: .6;
    }

    .disabled{
        pointer-events: none;
        opacity: .6;
    }

    .container{
        flex-direction: row-reverse;
    }

    .img__resize--large{
        object-fit: cover;
        object-position: 75% 50%;
    }

    .img__resize{
        width: 30vw;
        object-position: 45% 50%;
    }

    .img__resize1{
        object-position: 35% 50%;
    }

    .img__resize2{
        height: 67vh;
        object-position: 75% 50%;
    }

    .img__media{
        width: 60%;
        height: 32vh;
    }

    .img__media1{
        width: 100%;
        height: 30vh;
    }

    .container5{
        display: block;
    }

    .container6{
        display: block;
    }

    .nombre__banda{
        font-size: 3.2rem;
    }

    .logo__resize--footer{
        display: none;
        width: 180px;
        height: 180px;
    }

    .logo__resize--typo{
        width: 100%;
        height: 42vh;
    }

    .container4{
        flex-direction: column;
    }

    .footer__resize{
        height: 18vh;
    }

    .subtitulo{
        font-size: 2.6rem;
    }

    .font__size--media{
        font-size: 1.9rem;
    }
}