.encabezado__img--fluid{
    @include box(100%, calc(80vh - 78px), cover);
}

.hero{
    position: relative;
    @include box(100%, calc(80vh - 78px), none);
    background-position: center;
    background-size: cover;
    transition: all .8s ease-in-out;
    animation: hero 12s infinite linear;
}

.hero__content{
    @include box(100%, 100%, none);
    background-color: rgba( 0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.google__maps--fluid{
    width: 100%;
}

.separador{
    margin: 25px;
}

.separador1{
    margin: 12px;
}

.cajon{
    display: flex;
    width: 100%;
    height: 47vh;
    padding: 1% 1%;
}

.caja{
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 1%;
}

.caja .img__fit{
    width: 200%;
    object-fit: cover; 
    transition: .5s;
}

.caja:hover{
    flex: 1 1 80%;
}

.caja:hover .img__fit {
    width: 100%;
    height: 100%;
}

.text-center{
    text-align: center;
}

.img__resize--large{
    width: 33vw;
    height: 70vh;
}

.img__resize{
    @include box(30vw, 60vh, cover);
}

.img__resize1{
    @include box(100%, 60vh, none);
    object-position: 50% 30%;
}

.img__resize2{
    @extend .img__resize;
    object-position: 80% 50%;
}

.img__fit{
    @include box(100%, 47vh, cover);
}

.clip__img{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.logo__resize{
    width: 150px;
    height: 150px;
}

.logo__error{
    width: 300px;
    height: 300px;
}

.img__resize--grid{
    display: block;
    @include box(100%, 100%, cover);
}

.container3{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: map-get($map:$paleta, $key:'uno');
}
  
.container3:hover .overlay{
    opacity: .8;
}
  
.nombre__banda{
    color: map-get($map:$paleta, $key:'tres');
    font-size: 2.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    display: inline-flex;
    height: 70px;
    width: 140px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.ancla {
    color: #e60000;
    text-decoration: none;
}

#button-slide {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
  
#button-slide .ancla {
    position: relative;
    transition: all .35s ease-Out;
}
  
#slide {
    width: 100%;
    height: 100%;
    left: -200px;
    background: #420000;
    position: absolute;
    transition: all .35s ease-Out;
    bottom: 0;
}
  
#button-slide:hover #slide {
    left: 0;
}
  
#button-slide:hover .ancla {
    color: #ffffff;
}

.grid{
    width: 100%;
    display: grid;
}

.sector-template-areas{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh 30vh;
    gap: 10px 10px;
}

.template-areas{
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer";
}

nav{
    grid-area: nav;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.asignacion__columna--main{
    grid-column: 2/3;
    grid-row: 3/4;
}

.accordion-item {
    background: #000000;
    color: #ffffff;
}

.accordion-button:not(.collapsed) {
    background: #000000;
    color:#ffffff;
}

.hero_error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba( 0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    min-height: 50vh;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@keyframes hero{
    0% {
        background-image: url(../img/wp_studio.webp);
    }
    33% {
        background-image: url(../img/wp_studio.webp);
    }
    34% {
        background-image: url(../img/wp_studio1.webp);
    }
    66% {
        background-image: url(../img/wp_studio1.webp);
    }
    67% {
        background-image: url(../img/wp_studio2.webp);
    }
    100% {
        background-image: url(../img/wp_studio2.webp);
    }
}