.encabezado__img--fluid{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.carousel__height{
    height: 90vh;
    object-fit: cover;
}

.google__maps--fluid{
    width: 100%;
}

.separador{
    margin: 25px;
}

.separador1{
    margin: 12px;
}

.caja{
    width: auto;
    height: auto;
    transition: 1s;
}

.caja .img__fit{
    display: block;
    width: 100%;
}

.caja:hover{
    transform: scale(1.2);
    z-index: 2;
}

.text-center{
    text-align: center;
}

.img__resize--large{
    width: 33vw;
    height: 70vh;
}

.img__resize{
    width: 100%;
    height: 60vh;
    object-fit: none;
    object-position: 50% 30%;
}

.img__resize1{
    width: 30vw;
    height: 60vh;
    object-fit: cover;
}

.img__resize2{
    width: 26vw;
    height: 60vh;
    object-fit: cover;
    object-position: 80% 50%;
}

.img__fit{
    width: 100%;
    height: 47vh;
    object-fit: cover;
}

.clip__img{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.logo__resize{
    width: 150px;
    height: 150px;
}

.img__resize--grid{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container3{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000
}
  
.container3:hover .overlay{
    opacity: .8;
}
  
.nombre__banda{
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid{
    width: 100%;
    display: grid;
}

.sector-template-areas{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47vh 47vh;
    gap: 5px 5px;
}

.sector-template-areas1{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30vh 30vh;
    gap: 10px 10px;
}

.template-areas{
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer";
}

nav{
    grid-area: nav;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.asignacion__columna--main{
    grid-column: 2/3;
    grid-row: 3/4;
}