@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.nav__font{
    font-size: 1.4rem;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: map-get($map:$paleta, $key:'uno');
    overflow-x: hidden;
}

.titulo{
    font-size: 4rem;
    color: map-get($map:$paleta, $key:'tres');
    font-weight: 600;
    margin: 25px;
    text-shadow: 2px 2px 4px #000000
}

.titulo__hero{
    @extend .titulo;
        font-size: 4.9rem;
}

.subtitulo{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 3rem;
    color: map-get($map:$paleta, $key:'cuatro');
    text-shadow: 2px 2px 4px #000000
}

.subtitulo__hero{
    @extend .subtitulo;
    font-size: 3.2rem;
}

p{
    font-size: 1.5rem;
}

.font__size{
    font-size: 1.6rem;
}

.font__weight{
    font-weight: 500;
}

article{
    font-size: 1.8rem;
}