.pie{
    width: 100%;
    padding: 20px 0;
}

.pie__icon--sm{
    width: 40px;
    padding: 3px;
}

.logo__resize--footer{
    width: 300px;
    height: 300px;
}

.logo__resize--typo{
    width: 100%;
    height: 42vh;
}

.footer__resize{
    width: 100%;
    height: 32vh;
}

p1 {
    color: #ff0000;
}