@media only screen and (min-width: 768px) and (max-width:1048px){

    .img__resize--large{
        @include box(26vw, 60vh, cover);
        object-position: 20% 50%;
    }

    .img__resize{
        @include box(26vw, 60vh, cover);
        object-position: 32% 50%;
    }

    .img__resize2{
        object-position: 75% 50%;
    }

    .container3:hover .overlay{
        opacity: .6;
    }

    .disabled{
        pointer-events: none;
        opacity: .6;
      }

    .img__media{
        @include box(250px, 400px, none);
    }

    .nombre__banda{
        font-size: 1.9rem;
    }

    .logo__resize--footer{
        width: 220px;
        height: 220px;
    }

    .logo__resize--typo{
        width: 200px;
        height: 200px;
    }

    .footer__resize{
        height: 24vh;
    }
}

@media only screen and (max-width:767px){

    .navbar-toggler-icon{
        width: 1.6em;
        height: 1.6em;
    }

    .navbar-nav{
        margin-top: 38px;
    }

    .nav__ul{
        padding: 2px;
    }

    nav ul li a{
        font-size: 1.9rem;
        padding: 5px 10px;
    }

    .logo__resize{
        width: 110px;
        height: 110px;
    }

    .sector-template-areas{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 47vh);
        gap: 5px 5px;
    }
    
    .sector-template-areas1{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 30vh);
        gap: 10px 10px;
    }

    .asignacion__columna--main{
        grid-column: 1/4;
        grid-row: 3/4;
    }

    .container3:hover .overlay{
        opacity: .6;
    }

    .disabled{
        pointer-events: none;
        opacity: .6;
    }

    .container{
        flex-direction: row-reverse;
    }

    .img__resize--large{
        object-fit: cover;
        object-position: 75% 50%;
    }

    .img__resize1{
        width: 30vw;
        object-position: 45% 50%;
    }

    .img__resize{
        object-position: 35% 50%;
    }

    .img__resize2{
        height: 67vh;
        object-position: 75% 50%;
    }

    .img__media{
        @include box(250px, 35vh, contain);
    }

    .img__media1{
        @include box(100%, 30vh, contain);
    }

    .nombre__banda{
        font-size: 3.2rem;
    }

    .logo__resize--footer{
        display: none;
    }

    .logo__resize--typo{
        width: 100%;
        height: 42vh;
    }

    .footer__resize{
        height: 18vh;
    }

    .subtitulo{
        font-size: 2.6rem;
    }

    .subtitulo__hero{
        font-size: 2.5rem;
    }

    .titulo__hero{
        font-size: 3.5rem;
    }

    .font__size--media{
        font-size: 1.6rem;
    }

    .font__size{
        font-size: 1.9rem;
    }
}

@media only screen and (min-width: 1px) and (max-width:576px){

    .img__resize--large{
        @include box(100%, auto, cover);
    }

    .disable1{
        pointer-events: none;
    }
    
    .cajon{
        display: inline-block;
    }

    .caja{
        padding: 1% 1%;
    }

    .caja .img__fit {
        @include box (100%, auto, cover);
    }

    .img__resize2{
        width: 100%;
        height: auto;
    }

    .img__resize1{
        @include box(100%, auto, cover);
    }

    .img__resize{
        @include box(100%, auto, cover);
    }

    .clip__img{
        clip-path: none;
    }

    .caja1{
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transition: 1s;
    }

    .caja1:hover{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .subtitulo{
        font-size: 1.3rem;
    }

    .titulo{
        font-size: 1.7rem;
    }

    .font__size{
        font-size: 1.3rem;
    }

    .font__size--media{
        font-size: 1.3rem;
    }
}