@mixin box($width, $height, $object-fit) {
    width: $width;
    height: $height;
    object-fit: $object-fit;
}

$paleta:(
    'uno': #000000,
    'dos': #999999,
    'tres': #ffffff,
    'cuatro': #e9e9e9,
    'cinco': #ff0000d0);