nav{
    background-color: #000000;
    z-index: +100;
    top: 0;

    .nav__ul{
        display: flex;
    }

        nav ul li{
            display: flex;
            list-style: none;
        }

            nav ul li a{
                display: block;
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
}

.logo{
    position: absolute;
    left: 50%;
    top: 0%;
    border-radius: 50px;
    transform: translateX(-50%);
    z-index: +100;
}

.nav__padding{
    padding: 7px 28px;
}